    <h1>Welcome to CoinApp <%=@user.email %></h1>
       ==================================================


            <p>You have successfully signed up for CoinApp, 
            your user key is <%=@user.api_key%>. </p>
            
            <p>Thanks for joining!
            
                    -CoinApp</p>